@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
    padding-top: 40px;
    /*font-family: 'Raleway', sans-serif;*/
    font: 18px/1.3em 'Roboto Condensed', sans-serif;
    background-color: #f2f2f2;
}
h1 {
    font-size: 30px;
}
label, 
form input,
button, 
select, 
    textarea {
    font-size: 16px;
}
label, input {
    font-weight: bold;
}
label {
    margin-top: 4px;
}
fieldset {
    position: relative;
}
fieldset select {
    font-weight: bold;
    color: #468847;
}
fieldset ul {
    margin: 0 0 15px;
}
fieldset li {
    list-style: none;
}
fieldset p {
    position: absolute;
    bottom: 3px;
}
legend {
    border: none;
    color: #468847;
    margin-bottom: 5px;
    font-size: 18px;
}
legend input {
    padding: 2px;
    font-weight: bold;
    color: #468847 !important;
}
legend.alert {
    padding: 0 10px;
    width: auto;
    line-height: 1.5em;
}
.editor-container, .display-container {
    overflow: hidden;
    margin: 6px 0;
}
.editor-label, .display-label {
    float: left;
    padding-right: 4px;
    width: 115px;
}
.editor-field {
    float: left;
}
.golf-course {
    overflow: hidden;
    margin-bottom: 0;
}
.golf-course > div {
    float: left;
    width: 50%;
}
#datepicker {
    font-weight: bold;
}
.course-info {
    text-align: center;
    margin: 15px 0;
}
.course-info span {
    font-size: 20px;
    font-weight: bold;
}
.course-info [class*="span"] {
    margin: 0;
}
.course-info .select-course {
    font-size: 24px;
}
.tee-time-mgmt {
    margin: 0 0 20px;
    text-align: center;
}
.alert select {
    font-weight: bold;
}
.well {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 210px;
}
.container i {
    margin: 6px 2px 0 0;
}
.container a i {
    margin-top: 2px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 3px;
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 10px 0 0;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #034514; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #034514 0%, #188720 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#034514), color-stop(100%,#188720)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #034514 0%,#188720 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #034514 0%,#188720 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #034514 0%,#188720 100%); /* IE10+ */
  background: linear-gradient(45deg,  #034514 0%,#188720 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034514', endColorstr='#188720',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 54px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.btn {
    font-size: 18px;
}

@media print {

    header, footer, i, .golf-course, .btn {
        display: none;
    }
    fieldset.well {
        height: 175px;
    }
}